@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

a { text-decoration: none; }

a:hover { text-decoration: none; }

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}

h1,
h3,
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

ul { list-style-type: none; }

.uppercase { text-transform: uppercase; }

header {
    padding-top: 10px;
    text-align: center;
}

.main-nav { margin-bottom: 10px; }

.main-nav ul { 
    border-top: 1px solid #eee;
    margin-top: 5px;
    text-align: center;
}

.main-nav li {
    border-bottom: 1px solid #eee;
}

.main-nav a {
    color: #000;
    display: block;
    padding: 0.3em 0 0.3em 0;
    text-transform: uppercase;
    font-size: 0.6875em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-nav a::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
}

.main-nav a:hover { font-weight: bold; }

img.facebook { margin-left: 10px; }

.promotions img { max-width: 100%; }

main { 
    text-align: center;
}

div.promotions { margin-bottom: 10px; }

div.map { margin-bottom: 10px; }

div.store-hours {margin-bottom: 10px; }

ul.days { 
    float: left; 
    text-align: left;
}

ul.hours { 
    float: right;
}

/*
/*          Media Queries
/**********************************************/
@media screen and (min-width: 768px) {
    .left { float: left; }

    .right { float: right; }

    .container { 
        width: 80%; 
        margin: 0 auto;
    }

    header,
    main {
        text-align: initial;
    }

    .main-nav ul { border-top: none; }

    .main-nav li {
        display: inline-block;
        border: none;
        width: 95px;
        text-align: center;
    }
    

}
    